body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
div#data-info-etudiant {
  width: 300px;
}
div#data-info-etudiant input {
  width: 300px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  display: block;
}
div#data-info-etudiant label {
  margin-bottom: 30px;
}
div.champs-cours input {
  width: 150px;
  margin-left: 40px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  clear: both;
}
div.champs-cours span {
  width: 100px;
  margin-left: 30px;
  margin-right: 20px;
  padding: 10px;
}
div.champs-cours span#dispo-* {
  color: #f00;
}
