body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

div#data-info-etudiant
	width: 300px
	input
		padding 5px
		border 1px solid
		border-radius 5px
		float:right
		clear:both
	label
		margin-bottom: 30px 