body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

div#data-info-etudiant
	width: 300px
	input
		width: 300px
		padding 5px
		border 1px solid
		border-radius 5px
		display: block
	label
		margin-bottom: 30px 

div.champs-cours
	input
		width: 175px
		margin-left: 40px
		margin-right: 20px
		padding: 10px
		border 1px solid
		border-radius 5px
		clear:both
	span
		width: 100px
		margin-left: 30px
		margin-right: 20px
		padding: 10px
	span#dispo-*
		color: red