extends layout

block content
	script(src='../jquery/animations.js')
	script(src='../jquery/ajax.js')
	h1 Merci pour votre inscription
	img(src='../images/logo_uqam.png') 
	img(src='../images/nom_uqam.gif')
	br
	br
	a(href="/horaire") Consultez votre horaire
	br
	a(href="/") Recommencez de nouveau