extends layout

block content
	script(src='../jquery/animations.js')
	script(src='../jquery/ajax.js')
	h1 Une erreur s'est produite lors de l'enregistrement
	img(src='../images/logo_uqam.png') 
	img(src='../images/nom_uqam.gif')
	br
	br
	img(src='../images/grumpy-cat.jpg')
	br
	br
	a(href="/") Retourner au formulaire d'inscription