extends layout

block content
	h1 Formulaire d'inscription
	img(src='../images/logo_uqam.png') 
	img(src='../images/nom_uqam.gif')
	div
	form(id='form-info-etudiant', action='/listecours', method='get')
		div
			fieldset
				legend info étudiant
				div(id='info-etudiant')
					div(id='data-info-etudiant')
						label(for='sigle') code permanent:
						input(type='text', name='sigle')
						br
						label(for='code_prog') Prénom:
						input(type='text', name='code_prog')
						br
						label(for='an_ses2') Nom:
						input(type='text', name='an_ses2')
						input(type='hidden', name='Iframe', value='O')
			fieldset
				legend Cours
		div
			input(type='submit',value='Enregistrer') 